NODE_ENV=development
DATABASE=mongodb://r1.example.net:27017,r2.example.net:27017/
MAIL_USER=mailuser
MAIL_PASS=mailpass
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
PORT=7777
MAP_KEY=AIzaSyDA3oa2RkKvmnVp5liRDlpzj3doHnn82TM
SECRET=secret
KEY=key
